.App {
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  display: inline;
}

.nav li button {
  display: inline;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.login-form {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

h3 {
  border: solid;
  border-color: black;
}